.input-handling-directive-wrapper {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.input-handling-directive-label {
    color: #888;
    font-size: 13px;
}
.input-handling-directive-label.empty {
    visibility: hidden;
}
.input-handling-directive-label.focus {
    color: #008000;
}
.input-handling-directive-label.disabled {
    color: #888;
    -webkit-text-fill-color: #888;
}
.input-handling-directive-error {
    color: #f00;
    font-size: 12px;
    padding: 0 10px;
}
.input-handling-directive-control-wrapper {
    position: relative;
    width: 100%;
}
.input-handling-directive-control {
    width: calc(100% - 20px);
    border-bottom: solid 2px #ccc;
    height: 20px;
    padding: 0 10px;
    padding-bottom: 5px;
    font-size: 20px;
    vertical-align: top;
    outline: none;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.input-handling-directive-control.uppercase {
    text-transform: uppercase;
}
.input-handling-directive-control::placeholder {
    color: #888;
}
.input-handling-directive-control.focus {
    border-bottom: solid 2px #008000;
}
.input-handling-directive-control.focus::placeholder {
    visibility: hidden;
}
.input-handling-directive-control:disabled {
    background: #fff;
    color: #888;
    -webkit-text-fill-color: #888;
    cursor: not-allowed;
    border-bottom: solid 2px #ccc;
}
.input-handling-directive-control-date {
    position: relative;
    height: 30px;
    border-bottom: solid 2px #ccc;
}
.input-handling-directive-control-date-day,
.input-handling-directive-control-date-month,
.input-handling-directive-control-date-year,
.input-handling-directive-control-date-calendar {
    position: relative;
    height: 30px;
    display: inline-block;
    transform: translateY(-10px);
}
.input-handling-directive-control-date-day {
    max-width: 65px;
    width: 23%;
}
.input-handling-directive-control-date-month {
    max-width: 75px;
    width: 25%;
}
.input-handling-directive-control-date-year {
    max-width: 85px;
    width: 30%;
}
.input-handling-directive-control-date-calendar {
    max-width: 40px;
    width: 15%;
}
.input-handling-directive-control-date-day select,
.input-handling-directive-control-date-month select,
.input-handling-directive-control-date-year select {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 20px;
}
.input-handling-directive-control-date-calendar input {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    border-radius: 0;
    color: rgba(0,0,0,0);
}
.input-handling-directive-control-date-day .fa,
.input-handling-directive-control-date-month .fa,
.input-handling-directive-control-date-year .fa {
    position: absolute;
    pointer-events: none;
    top: 17.5px;
    right: 10px;
    color: #888;
}
.input-handling-directive-control-date-calendar .fa {
    position: absolute;
    pointer-events: none;
	top: 0;
    right: 0;
    color: #888;
    transform: translateY(10px); 
}
.input-handling-directive-control-select {
    position: relative;
    height: 52px;
}
.input-handling-directive-control-select select {
    position: absolute;
    -webkit-appearance: none;
	width: 100%;
    height: 30px;
    margin-top: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    padding: 0 10px;
    font-size: 20px;
    padding-right: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.input-handling-directive-control-select .fa {
    position: absolute;
    pointer-events: none;
    top: 17.5px;
    right: 10px;
    color: #888;
}
.input-handling-directive-control-checkbox {
    width: calc(100% - 20px);
    min-height: 20px;
    padding: 0 10px;
    padding-bottom: 5px;
    z-index: 0;
}
.input-handling-directive-control-checkbox label {
    display: block;
    padding: 5px 20px;
    position: relative;
}
.input-handling-directive-control-checkbox.disabled label {
    color: #888;
}
.input-handling-directive-control-checkbox input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
}
.input-handling-directive-control-checkbox-separator {
    border-top: solid 2px #ccc;
}
.input-handling-directive-tooltip-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.25);
    z-index: 1;
}
.input-handling-directive-tooltip-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border: solid 2px #888;
    border-radius: 10px;
    padding: 10px;
    width: 80vw;
    max-width: 80vw;
}
.input-handling-directive-tooltip-title {
    font-size: 15px;
}
.input-handling-directive-tooltip-panel ul {
    margin-left: 30px;
}
.input-handling-directive-tooltip-panel li {
	font-size: 15px;
}
.input-handling-directive-tooltip-button {
    color: #888;
}
.hidden {
    display: none;
}

.tooltip-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    padding: 10px 3px;
    background-color: white;
}

@media (max-width: 360px) {
	.input-handling-directive-control,
    .input-handling-directive-control-select select,
    .input-handling-directive-control-date-day select,
    .input-handling-directive-control-date-month select,
    .input-handling-directive-control-date-year select {
        font-size: 16px;
	}
}

.input-handling-directive-control-textarea {
    width: calc(100% - 20px);
    border-bottom: solid 2px #ccc;
    height: 180px;
    padding: 0 10px;
    padding-bottom: 5px;
    font-size: 20px;
    vertical-align: top;
    outline: none;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    resize: none;
}

.input-handling-directive-control-textarea::placeholder {
    color: #888;
}

.input-handling-directive-control-textarea.focus {
    border-bottom: solid 2px #008000;
}

.input-handling-directive-control-textarea.focus::placeholder {
    visibility: hidden;
}

.input-handling-directive-control-textarea:disabled {
    background: #fff;
    color: #888;
    -webkit-text-fill-color: #888;
    cursor: not-allowed;
    border-bottom: solid 2px #ccc;
}

.input-handling-directive-control-wrapper textarea {
    font-family: inherit;
    font-size: 15px;
}