.forget-password-page-content-wrapper {
    position: relative;
    height: calc(100vh - 76px);
    overflow: hidden;
}
.forget-password-page-content-1,
.forget-password-page-content-2,
.forget-password-page-content-3 {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 76px);
    width: calc(100vw - 20px);
    background: #fff;
    padding: 10px;
    z-index: 1;
    display: none;
    -webkit-transition: all 0.13s ease-in;
            transition: all 0.13s ease-in;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    will-change: transform;
}
.forget-password-page-content-1.active,
.forget-password-page-content-2.active,
.forget-password-page-content-3.active {
    display: block;
    -webkit-transform: none;
            transform: none;
    -webkit-animation: display-none-transition 0.33s both;
    animation: display-none-transition 0.33s both;
}
@-webkit-keyframes display-none-transition {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}
@keyframes display-none-transition {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}
.forget-password-page-countdown {
    padding-left: 10px;
    font-size: 25px;
    color: #888;
}
.forget-password-tokencounter {
    color: #f00;
    text-align: left;
}
.forget-password-title {
    font-weight: bold;
}