<div ng-controller="forgetPasswordPageController" ng-view ng-cloak>
    <link rel="stylesheet" type="text/css" href="./pages/forgetPassword/forgetPassword.css" />
    <div ng-if="isShow" class="page" ng-class="pageClass">
        <nav-bar-top-directive
            type="navBarTop.type"
            title="navBarTop.title"
            left="navBarTop.left"
            on-left-click="navBarTop.onLeftClick()">
        </nav-bar-top-directive>
        <div class="page-content forget-password-page-content-wrapper">
            <div class="forget-password-page-content-1 active">
                <center>
                    <div class="forget-password-title" ng-bind="globalMessage.ForgetPasswordPageTitle"></div>
                    <br />
                    <div>&nbsp;</div>
                    <br />
                </center>
                <form ng-submit="requestClick()">
                    <input-handling-directive
                        label="sellerCode.label"
                        error="sellerCode.error"
                        model="sellerCode.value"
                        type="'tel'"
                        maxlength="6">
                    </input-handling-directive>
                    <input-handling-directive
                        label="dateOfBirth.label"
                        error="dateOfBirth.error"
                        model="dateOfBirth.value"
                        type="'date'"
                        min-year="minYear"
                        max-year="maxYear">
                    </input-handling-directive>
                    <input-handling-directive
                        label="email.label"
                        error="email.error"
                        model="email.value"
                        type="'email'"
                        maxlength="50">
                    </input-handling-directive>
                    <center>
                        <span ng-bind="errorMessage" style="color:red;"></span>
                        <br />
                        <br />
                        <button type="submit" ng-bind="globalMessage.ForgetPasswordButtonSearch"></button>
                    </center>
                </form>
            </div>
            <div class="forget-password-page-content-2" ng-class="content2Class">
                <center>
                    <div class="forget-password-tokencounter" ng-bind="tokenCounter"></div>
                    <br />
                    <div class="forget-password-title" ng-bind="globalMessage.ForgetPasswordPageTitle"></div>
                    <br />
                    <div ng-bind="globalMessage.ForgetPasswordPageMessage"></div>
                    <br />
                </center>
                <form ng-submit="verifyClick()">
                    <input-handling-directive
                        label="token.label"
                        error="token.error"
                        model="token.value"
                        type="'tel'"
                        maxlength="6">
                    </input-handling-directive>
                    <center>
                        <span ng-bind="errorMessage" style="color:red;"></span>
                        <br />
                        <br />
                        <button type="submit" ng-bind="globalMessage.ForgetPasswordButtonVerify"></button>
                    </center>
                </form>
                <br />
                <br />
                <br />
                <label ng-bind="globalMessage.ForgetPasswordHelpMessage"></label>
                <br />
                <br />
                <button ng-click="requestClick()" ng-disabled="isRequestAvailable" ng-bind="globalMessage.ForgetPasswordButtonRequest"></button>
                <label class="forget-password-page-countdown" ng-bind="timeLeft"></label>
            </div>
            <div class="forget-password-page-content-3" ng-class="content3Class">
                <center>
                    <div class="forget-password-title" ng-bind="globalMessage.ForgetPasswordPageTitle"></div>
                    <br />
                    <div ng-bind="globalMessage.ForgetPasswordPageMessage2"></div>
                    <br />
                </center>
                <form ng-submit="changePasswordClick()">
                    <input-handling-directive
                        label="password.label"
                        error="password.error"
                        model="password.value"
                        type="'password'"
                        tooltip="password.tooltip"
                        tooltip-options="password.tooltipOptions"
                        maxlength="15">
                    </input-handling-directive>
                    <input-handling-directive
                        label="confirmPassword.label"
                        error="confirmPassword.error"
                        model="confirmPassword.value"
                        type="'password'"
                        maxlength="15">
                    </input-handling-directive>
                    <center>
                        <span ng-bind="errorMessage" style="color:red;"></span>
                        <br />
                        <br />
                        <button type="submit" ng-bind="globalMessage.ForgetPasswordButtonChangePassword"></button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
