<link rel="stylesheet" type="text/css" href="./directive/navBarTop/navBarTop.css" />
<div ng-if="type == undefined || type == 1" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-title-1"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
</div>
<div ng-if="type == 2" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-title-2"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right1Style"
        ng-bind-html="trustAsHtml(right1)"
        ng-click="onRight1Click()">
    </div>
</div>
<div ng-if="type == 3" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-title-3"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right2Style"
        ng-bind-html="trustAsHtml(right2)"
        ng-click="onRight2Click()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right1Style"
        ng-bind-html="trustAsHtml(right1)"
        ng-click="onRight1Click()">
    </div>
</div>
<div ng-if="type == 4" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-title-4"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right3Style"
        ng-bind-html="trustAsHtml(right3)"
        ng-click="onRight3Click()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right2Style"
        ng-bind-html="trustAsHtml(right2)"
        ng-click="onRight2Click()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right1Style"
        ng-bind-html="trustAsHtml(right1)"
        ng-click="onRight1Click()">
    </div>
</div>
<div ng-if="type == 5" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-action"
        ng-style="leftStyle"
        ng-bind-html="trustAsHtml(left)"
        ng-click="onLeftClick()">
    </div>
    <div
        class="nav-bar-top-directive-title-5"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
</div>
<div ng-if="type == 6" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-action"
        ng-style="leftStyle"
        ng-bind-html="trustAsHtml(left)"
        ng-click="onLeftClick()">
    </div>
    <div
        class="nav-bar-top-directive-title-6"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right1Style"
        ng-bind-html="trustAsHtml(right1)"
        ng-click="onRight1Click()">
    </div>
</div>
<div ng-if="type == 7" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-action"
        ng-style="leftStyle"
        ng-bind-html="trustAsHtml(left)"
        ng-click="onLeftClick()">
    </div>
    <div
        class="nav-bar-top-directive-title-7"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right2Style"
        ng-bind-html="trustAsHtml(right2)"
        ng-click="onRight2Click()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right1Style"
        ng-bind-html="trustAsHtml(right1)"
        ng-click="onRight1Click()">
    </div>
</div>
<div ng-if="type == 8" class="nav-bar-top-directive-wrapper">
    <div
        class="nav-bar-top-directive-action"
        ng-style="leftStyle"
        ng-bind-html="trustAsHtml(left)"
        ng-click="onLeftClick()">
    </div>
    <div
        class="nav-bar-top-directive-title-8"
        ng-style="titleStyle"
        ng-bind-html="trustAsHtml(title)"
        ng-click="onTitleClick()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right3Style"
        ng-bind-html="trustAsHtml(right3)"
        ng-click="onRight3Click()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right2Style"
        ng-bind-html="trustAsHtml(right2)"
        ng-click="onRight2Click()">
    </div>
    <div
        class="nav-bar-top-directive-action"
        ng-style="right1Style"
        ng-bind-html="trustAsHtml(right1)"
        ng-click="onRight1Click()">
    </div>
</div>