.pos-update-page-content-wrapper {
  position: relative;
  height: calc(100vh - 76px - 56px);
  overflow-x: hidden;
}
.pos-update-page-content {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 76px - 56px);
  width: calc(100vw - 20px);
  background: #fff;
  padding: 10px;
  display: none;
  -webkit-transition: all 0.13s ease-in;
          transition: all 0.13s ease-in;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  will-change: transform;
}
.pos-update-page-content.active {
  display: block;
  -webkit-transform: none;
          transform: none;
  -webkit-animation: display-none-transition 0.33s both;
          animation: display-none-transition 0.33s both;
}
@-webkit-keyframes display-none-transition {
  0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
  }
}
@keyframes display-none-transition {
  0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
  }
}
.pos-update-page-nav-bar-bottom-wrapper {
  height: 54px;
  max-height: 54px;
  width: 100vw;
  font-size: 0;
  border-top: 2px solid #888;
}
.pos-update-page-nav-bar-bottom-left,
.pos-update-page-nav-bar-bottom-right {
  display: inline-block;
  height: 54px;
  max-height: 54px;
  line-height: 54px;
  width: 50vw;
  max-width: 50vw;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  background: #fff;
  color: #000;
}
.pos-update-page-nav-bar-bottom-left {
  text-align: left;
}
.pos-update-page-nav-bar-bottom-right {
  text-align: right;
}
.pos-update-page-nav-bar-bottom-left label,
.pos-update-page-nav-bar-bottom-right label {
  cursor: pointer;
}
.pos-update-page-header div {
  display: inline-block;
}
.pos-update-page-header div:nth-child(1) {
  width: 130px;
}
.pos-update-page-checkbox {
  padding-left: 25px;
  margin-bottom: 5px;
}
.pos-update-page-header-title1 {
  text-align: center;
  color: #888;
  margin-bottom: 10px;
}
.pos-update-page-header-title2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.pos-update-page-picture-selector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 1;
}
.pos-update-page-picture-gallery,
.pos-update-page-picture-camera {
  background: #007231;
  border: solid 5px #fff;
  color: #fff;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}
.pos-update-page-picture-gallery {
  margin-top: 130px;
}
.pos-update-page-picture-camera {
  margin-top: 50px;
}
.pos-update-page-picture-icon {
    width: calc(100vw - 20px);
    font-size: 250px;
    text-align: center;
}
.pos-update-page-picture {
    display: block;
    max-width: 90vw;
    max-height: 70vh;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}
.pos-update-page-content-wrapper .floating-button-directive-button {
  bottom: 80px
}
.pos-update-page-token-counter {
  color: #f00;
}
.pos-update-page-countdown {
    padding-left: 10px;
    font-size: 25px;
    color: #888;
}