<div ng-controller="trainingMaterialPageController" ng-view ng-cloak>
    <link rel="stylesheet" type="text/css" href="./pages/trainingMaterial/trainingMaterial.css" />
    <div ng-if="isShow" class="page" ng-class="pageClass">
        <nav-bar-top-directive
            type="navBarTop.type"
            title="navBarTop.title"
            left="navBarTop.left"
            on-left-click="navBarTop.onLeftClick()">
        </nav-bar-top-directive>
        <div class="page-content">
            <div ng-repeat="sc in subCategoryList">
                <div class="training-material-sub-category" ng-click="showHideSubCategory($index)" ng-if="(trainingMaterial | filter: { subCategoryId: sc.id }).length > 0">
                    <label ng-bind="sc.title"></label>
                    <i class="fa fa-lg fa-{{sc.isShow == true ? 'angle-down' : 'angle-up'}}"></i>
                </div>
                <card-material-directive
                    ng-if="sc.isShow == true"
                    ng-repeat="n in trainingMaterial | filter: { subCategoryId: sc.id }"
                    card-id="n.id"
                    top-left="n.title"
                    top-right="n.date"
                    message="n.message"
                    url="n.linkUrl"
                    type="n.fileType"
                    file-name="n.fileName"
                    on-click="onCardClick(parm)"
                    bearer="globalData.Token">
                </card-material-directive>
            </div>
        </div>
        <training-material-detail-page></training-material-detail-page>
    </div>
</div>
