.dashboard-page-content-wrapper {
    position: relative;
    height: calc(100vh - 76px);
    overflow-x: hidden;
}

.dashboard-page-content {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 76px);
    width: calc(100vw - 20px);
    background: #fff;
    padding: 10px;
    display: none;
    -webkit-transition: all 0.13s ease-in;
            transition: all 0.13s ease-in;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    will-change: transform;
}

.dashboard-page-content.active {
    display: block;
    -webkit-transform: none;
            transform: none;
    -webkit-animation: display-none-transition 0.33s both;
            animation: display-none-transition 0.33s both;
}

.dashboard-header {
    width: 100%;
}

.dashboard-header td:nth-child(2) {
    text-align: right;
    vertical-align: top;
}

.dashboard-upline td:nth-child(2) {
    padding: 0 10px;
}

.dashboard-pscl-wrapper button {
    display: flex;
    width: 250px;
    margin: 10px auto;
}

.dashboard-spacer {
    flex: 1 1 auto;
}

.dashboard-card {
    margin: 0 -10px;
    padding: 15px;
}

.dashboard-card:nth-child(2n+1) {
    background: #888;
}

.dashboard-ape {
    margin: auto;
    width: 250px;
}

.dashboard-ape td:nth-child(3) {
    text-align: right;
}