<link rel="stylesheet" type="text/css" href="./directive/dialogPassword/dialogPassword.css" />
<div class="dialog-password-directive-wrapper" ng-if="isShow" ng-click="onCancel()">
    <div class="dialog-password-directive-modal" ng-click="$event.stopPropagation()">
        <div class="dialog-password-directive-title">{{title}}</div>
        <div class="dialog-password-directive-control">
            <input type="password" ng-model="$parent.model" />
        </div>
        <div class="dialog-password-directive-button-wrapper">
            <div class="dialog-password-directive-button-cancel" ng-click="onCancel()">{{cancelText}}</div>
            <div class="dialog-password-directive-button-ok" ng-click="onOK({parm:value})">{{okText}}</div>
        </div>
    </div>
</div>
